@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600;700&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Cabin', sans-serif;
}

body {
   background-color: rgb(53, 49, 49);
   color: whitesmoke;
   font-size: 18px;
}

section {
   border-radius: 5px;
   padding: 20px;
}

#inputs {
   border: 1px solid rgba(245, 245, 245, 0.35);
   width: 90%;
   max-width: 800px;
   margin: 10vh auto 20px;
}

#inputs div {
   margin-bottom: 15px;
}

#inputs h2 {
   margin-bottom: 5px;
}

#inputs form input {
   border: 1px solid rgba(245, 245, 245, 0.35);
   background-color: transparent;
   caret-color: whitesmoke;
   font-family: inherit;
   color: whitesmoke;
   font-size: inherit;
   border-radius: 5px;
   padding: 7.5px;
   width: 100%;
   outline: 0;
}

#profile {
   margin: 0 auto;
   width: 90%;
   max-width: 800px;

   display: flex;
   /* grid-template-columns: 1fr 2fr; */
   gap: 3.5%;
}

.profile_id {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.profile_id img {
   width: 100%;
   border-radius: 5px;
}

.profile_id a {
   width: 100%;
   padding: 10px 20px;
   text-align: center;
   color: inherit;
   text-decoration: none;
   border: 1px solid whitesmoke;
   font-family: inherit;
   border-radius: 5px;
   margin-top: 10px;
}

.profile_id a:hover {
   background-color: whitesmoke;
   color: rgb(53, 49, 49);
}

.profile_details {
   width: 100%;
}

.profile_details h1 {
   margin-bottom: 10px;
}

.other_details {
   display: flex;
   flex-direction: column;
}

.other_details p {
   margin: 5px 0;
}

.blog a, .twitter a {
   color: inherit;
   text-decoration: underline rgb(150, 145, 145);
}

.error {
   width: 90%;
   max-width: 800px;
   margin: 7.5px auto;
   background-color: rgb(197, 27, 27);
   padding: 10px 20px;
   border-radius: 5px;
}

#repos {
   margin: 30px auto 20px;
   width: 90%;
   max-width: 800px;
   border: 0;
   padding: 0;
}

#repos div {   
   border: 1px solid rgba(245, 245, 245, 0.35);
   width: 100%;
   padding: 10px;
   border-radius: 5px;
   margin: 10px 0;
}

#repos a {
   color: inherit;
   text-decoration: underline rgb(150, 145, 145);
   
}


@media (max-width: 650px) {
   #profile {
      display: block;
   }

   .profile_id {
      margin-bottom: 20px;
   }
   /* .profile_id img, .profile_id a {
      width: 60%;
   } */
}